services:
  api:
    build: .
    container_name: api_rest
    ports:
      - "3000:3000"
    environment:
      DB_HOST: host.docker.internal
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: admin
      DB_NAME: task_manager
      PORT: 3000
    volumes:
      - .:/app
      - /app/node_modules
